# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
next-env.d.ts

# nitro
.nitro/
.output/

# expo
.expo/
expo-env.d.ts
apps/expo/.gitignore
apps/expo/ios
apps/expo/android

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.development
.env*.development
.env.preview
.env*.preview
.env.staging
.env*.staging
.env.production
.env*.production
apps/nextjs/.env.sentry-build-plugin

# vercel
.vercel

# typescript
dist/
!platform/cli/dist/
!platform/cli/dist/**
.cache

# turbo
.turbo

# tanstack
.tanstack

.pnpm-store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
!platform/infra/terraform/scripts/
doppler.auto.tfvars.json

# repomix
.repomixignore
repomix-output.xml
